@using Pharmacy.Core

@model List<Medicaments>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["subcategory"].ToString()</h1>
<hr />

@if (Model.Any())
{
        <div class="container">
            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 g-3" style="margin-top: 1em;">
                @foreach (var ct in Model)
                {
                <div class="card" style="width: 20rem; display:inline-block; margin-right: 1em">
                        <img src="@ct.PhotoPath" class="card-img-top" style="height:16rem;" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><a asp-controller="Medicaments" asp-action="DetailsMedicament" asp-route-id="@ct.MedicamentsId">@Html.DisplayFor(modelItem => ct.Name)</a></h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => ct.Price) $</p>
                            <!-- <p class="card-text">Quantity in stock: </p> -->
                        </div>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="card-body">
                                <a class="btn btn-outline-warning" class="card-link" asp-controller="Medicaments" asp-action="Edit" asp-route-id="@ct.MedicamentsId">Edit</a>
                                <a class="btn btn-outline-primary" class="card-link" asp-controller="Medicaments"  asp-action="DetailsMedicament" asp-route-id="@ct.MedicamentsId">Details</a>
                                <a class="btn btn-outline-danger" class="card-link" asp-controller="Medicaments" asp-action="Delete" asp-route-id="@ct.MedicamentsId">Delete</a>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>

}
else
{
    <div class="alert alert-danger">There aren't products</div>
}