@using Pharmacy.Core
@model CartView
@{
    var payment = ViewBag.Payement as string;
    var Address = ViewBag.Address as string;
    var typeofdelivery = ViewBag.TypeOfDelivery as string;
    var phone = ViewBag.Phone as string;
    var name = ViewBag.Name as string;
}

<h1>
    Оформлення замовлення
</h1>

<p>
    Введіть свої дані нижче, щоб завершити покупку.
</p>
<br/>

<div class="container">
    <form asp-action="CreateOrder" class="form-inline">
    <div class="row">
        <div class="col">
            <h3><strong>Адреса доставки</strong></h3>
            
                <div class="form-group mx-sm-3 mb-2">
                    <div class="form-group">
                        <label for="PIB">ПІБ</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <div class="form-group">
                        <label for="Phone">Номер Телефону</label>
                        <input type="text" class="form-control" id="phone" name="phone">
                    </div>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <div class="form-group">
                        <label for="Address">Адреса</label>
                        <input type="text" class="form-control" id="Address" name="Address">
                    </div>
                </div>


            
            <br/>

            <h3><strong>Способи доставки</strong></h3>
            <div class="custom-control custom-radio">
                    <input type="radio" id="typeofdelivery" value="Нова пошта - Доставка до відділення" name="typeofdelivery" class="custom-control-input">
                    <label class="custom-control-label" for="typeofdelivery">Нова пошта - Доставка до відділення</label>
            </div>
            <hr />
            <div class="custom-control custom-radio">
                    <input type="radio" id="typeofdelivery" value="Нова пошта - Доставка за адресою" name="typeofdelivery" class="custom-control-input">
                <label class="custom-control-label" for="typeofdelivery">Нова пошта - Доставка за адресою</label>
            </div>
            <hr />
            <div class="custom-control custom-radio">
                    <input type="radio" id="typeofdelivery" value="Укрпошта - Доставка до відділення" name="typeofdelivery" class="custom-control-input">
                    <label class="custom-control-label" for="typeofdelivery">Укрпошта - Доставка до відділення</label>
            </div>
            <hr />
            <div class="custom-control custom-radio">
                    <input type="radio" id="typeofdelivery" value="Укрпошта - Доставка за адресою" name="typeofdelivery" class="custom-control-input">
                    <label class="custom-control-label" for="typeofdelivery">Укрпошта - Доставка за адресою</label>
            </div>
            <hr />
        </div>

        <div class="col">
            <h3><strong>Спосіб оплати</strong></h3>
            <div class="custom-control custom-radio">
                    <input type="radio" id="payment" value="Переказ на рахунок" name="payment" class="custom-control-input">
                    <label class="custom-control-label" for="RPai">Переказ на рахунок</label>
                <p>[З вами зв'яжеться менеджер і надішле Вам реквізити зручним для Вас способом]</p>
            </div>
            <hr/>
            <div class="custom-control custom-radio">
                    <input type="radio" id="payment" value="Оплата при отриманні" name="payment" class="custom-control-input">
                    <label class="custom-control-label" for="RPai">Оплата при отриманні</label>
                <p>[Просимо мати на увазі що в цьому випадку можливі додаткові комісії за зворотній переказ коштів]</p>
            </div>
            <hr />
            <br/>
            <h3><strong>Всього</strong></h3>
                <div class="container">
                <h5>@Model.shopCartItems.Count товар(ів/и) в кошику</h5>
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Товар</th>
                                    <th>К-сть</th>                                    
                                    <th>Проміжний підсумок</th>
                                <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var u in Model.shopCartItems)
                                {
                                    <tr>
                                        <td>
                                        <img src="/medicaments/getimage/@u.ProductId" class="card-img-top" style="width:5rem;">

                                        <a asp-action="DetailsMedicament" asp-controller="Medicaments" asp-route-id="@u.ProductId" class="font-weight-bold">@u.ProductName</a>
                                        </td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" asp-action="Add" asp-route-id="@u.ProductId">+</a>
                                             @u.Quantity  
                                        <a class="btn btn-info btn-sm" asp-action="Decrease" asp-route-id="@u.ProductId">-</a>
                                    </td>                                        
                                        <td>@Model.shopCartItems.Where(x=>x.ProductId==u.ProductId).Sum(x=>x.Quantity * x.Price).ToString("N2")</td>
                                        <td>                                       
                                            <a class="btn btn-danger btn-sm" asp-action="Remove" asp-route-id="@u.ProductId">x</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">Проміжний підсумок:@Model.GrandTotal.ToString("N2")</td>
                                </tr>
                                <br/>
                                <tr>
                                    <td colspan="4">
                                        <div class="form-group">
                                            <input type="submit" asp-action="CreateOrder" asp-controller="Order" value="Замовити" class="btn btn-primary" />
                                        </div>
                                        <!--<a class="btn btn-primary" asp-action="CreateOrder" asp-controller="Order">Замовити</a>-->
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
            </div>
        </div>
    </div>
    </form>
</div>