@model Pharmacy.Core.Medicaments

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <h6 style="color:darkgray">@Html.DisplayNameFor(model => model.Code): @Html.DisplayFor(model => model.Code)</h6>
    <hr />
    <div class="row">
        <div class="col-4">
            <img src="/medicaments/getimage/@Model.MedicamentsId" class="card-img-top" style="height:16rem;" alt="...">
        </div>
        <div class="col-8">
            <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </div>
            <div class="col-sm-6">
            @Html.DisplayFor(model => model.Price)
        </div>
            <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseForm)
        </div>
            <div class="col-sm-4">
            @Html.DisplayFor(model => model.ReleaseForm)
        </div>
            <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dosage)
        </div>
            <div class="col-sm-4">
            @Html.DisplayFor(model => model.Dosage)
        </div>
        </div>
    </div>
    <div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </div>
</div>

<hr />

<div class="text-right">
    <a asp-action="Edit" asp-route-id="@Model.MedicamentsId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">Back to List</a>
</div>
