@model IEnumerable<Pharmacy.Core.Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="float-end">
    <a href="/admin/createcategory" class="btn btn-outline-primary">Додати категорію</a>
</div>


<h1>Список катергорій</h1>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Каталог</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @string.Join(", ", item.Catalog.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Редагувати</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
